<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ulogin</servlet-name>
        <servlet-class>ulogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alogin</servlet-name>
        <servlet-class>alogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flogin</servlet-name>
        <servlet-class>flogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plogin</servlet-name>
        <servlet-class>plogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>slogin</servlet-name>
        <servlet-class>slogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leave</servlet-name>
        <servlet-class>leave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hlogin</servlet-name>
        <servlet-class>hlogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ulogin</servlet-name>
        <url-pattern>/ulog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alogin</servlet-name>
        <url-pattern>/alog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flogin</servlet-name>
        <url-pattern>/flog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plogin</servlet-name>
        <url-pattern>/plog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>slogin</servlet-name>
        <url-pattern>/slog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leave</servlet-name>
        <url-pattern>/lv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hlogin</servlet-name>
        <url-pattern>/hlog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
